{% extends "bootstrap_5_layout.html" %}
{% set active_page = "stocks_dashboard" %}

{% block content %}

    <h2>Stocks Dashboard ({{ symbol }})</h2>

    <p class="lead">Latest Close: {{ latest_close_usd }} (as of {{ latest_date }})</p>

    <div id="chart-container" height="700px"></div>

    <!--
        BOOTSTRAP TABLES
        https://getbootstrap.com/docs/5.0/content/tables/
    -->
    <table class="table table-hover table-responsive caption-top">
        <caption>Last 30 Days of Closing Prices</caption>
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Close (USD)</th>
            </tr>
        </thead>
        <tbody>
        <!--
            JINJA FOR LOOP
            Display the last 30 days of data
        -->
        {% for row in data[:30] %}
            <tr>
                <td>{{ row["timestamp"] }}</td>
                <td>${{ "%.2f" | format(row["adjusted_close"]) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">

        console.log("STOCKS DASHBOARD...")

        // use data from the router!
        var stockData = JSON.parse('{{data | tojson}}') // https://stackoverflow.com/a/45132694/670433
        console.log(stockData)

        var dates = stockData.map(obj => obj["timestamp"])
        var closingPrices = stockData.map(obj => obj["adjusted_close"])

        // visualize the data
        // see: https://plotly.com/javascript/line-charts/
        var series = {
            x: dates,
            y: closingPrices,
            mode: "lines+markers"
        }
        var data = [series]
        var layout = {
            title: "Daily Closing Prices for Stock: " + '{{ symbol }}',
            height: 600,
            yaxis: {
                tickformat: '$' // https://plotly.com/javascript/tick-formatting/
            }
        }
        Plotly.newPlot("chart-container", data, layout, {responsive: true})

    </script>

{% endblock %}
